<% provide(:page_title, 'All posts') %>
<% provide(:author, 'active') %>

<div class="row">
	<%= link_to 'New post', new_author_post_path, class: 'btn btn-primary btn-lg mb-3' %>
	
	<table class="table table-striped">
    <tr>
    	<th colspan="5">Title</th>
    </tr>	
      <%= render @posts %>
      

    </table>
</div>  